@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap");

body {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  color: #616161;
}

[class*="__container"] {
  max-width: 1087px;
  margin: 0px auto;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__menu {
  flex: 1 1 auto;
}
.header__button {
  position: relative;
  z-index: 5;
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu__list {
  display: flex;
}
.menu__item {
  margin: 0 40px 0 0;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}

.menu__link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #000000;
}
.menu__link:hover {
  text-decoration: underline;
}

.icon-menu {
  display: none;
}

.button {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #fcfdfe;
  padding: 14px 30px;
  border-radius: 5px;
  background-color: #ec5863;
  transition: background-color 0.3s ease 0s;
}
.button:hover {
  background-color: #f06871;
  cursor: pointer;
}
.button_blue {
  background-color: #4285f4;
  /* margin: 0 20px 0 0; */
}
.button_blue:hover {
  background-color: #5f9af8;
  cursor: pointer;
}
/* ----------------------------------------------------------------------------------- */

.get-started {
  background-color: #fafbfd;
}
.get-started__container {
  padding: 153px 15px 48px 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.get-started__container::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 267px;
  top: 0;
  background: #ec5863;
  border-radius: 30px 0px 0px 30px;
  transform: translate(100%, 0px);
}
.get-started__body {
  display: flex;
  margin: 0 0 60px 0;
}
.get-started__content {
  flex: 0 1 48%;
  padding: 0 20px;
}
.block-text__red-span {
  color: #ec5863;
}
.block-text__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  color: #000000;
  margin: 0 0 12px 0;
}
.block-text__blue-span {
  color: #4285f4;
}
.block-text__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  max-width: 375px;
  margin: 0 0 24px 0;
}
.block-text__button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.18em;
  color: #fcfdfe;
  padding: 14px 30px;
}
.get-started__image {
  position: relative;
  z-index: 5;
  flex: 0 1 52%;
  max-width: 547px;
  margin: 0 10px 0 0;
}
.get-started__image img {
  max-width: 100%;
}
.get-started__video {
  max-width: 230px;
  margin: 0px 0px 0px 18px;
}
.get-started__video:hover .video-get-started__text {
  text-decoration: underline;
}
.video-get-started {
  display: flex;
}
.video-get-started__icon {
  flex: 0 0 44px;
  margin: 0 12px 0 0;
}
.video-get-started__body {
  align-self: center;
}
.video-get-started__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 0.08em;
  color: #b0b0b0;
  margin: 0 0 5px 0;
}
.video-get-started__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 126%;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  color: #000000;
}

/* ----------------------------------------------------------------------------------- */

.stay-safe {
  padding: 80px 0px;
}
.stay-safe__container {
  display: flex;
  align-items: center;
}
.stay-safe__media {
  flex: 0 0 50%;
}
@media (min-width: 991.98px) {
  .stay-safe__media {
    padding: 0px 0px 0px 47px;
  }
}
.media-stay-safe-decor1 {
  position: absolute;
  background: #ec5863;
  border-radius: 30px;
  width: 147px;
  height: 147px;
  top: 0;
  left: 0;
}
.media-stay-safe-decor2 {
  position: absolute;
  width: 77px;
  height: 77px;
  right: 0;
  bottom: 107px;

  background: #ec5863;
  border-radius: 30px;
}
.media-stay-safe-decor3 {
  position: absolute;
  width: 77px;
  height: 77px;
  left: 32px;
  bottom: 0;

  background: #ec5863;
  border-radius: 30px;
}

.stay-safe__content {
  flex: 0 1 50%;
  display: flex;
  padding: 0px 0px 0px 11px;
}

.media-stay-safe {
  position: relative;
  width: 343px;
  text-align: center;
  padding: 56px 38px 27px 71px;
}
.media-stay-safe__image {
  display: inline-block;
  border-radius: 16px;
  width: 229px;
  position: relative;
  z-index: 5;
  position: relative;
  box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
}
.media-stay-safe__image::after {
  content: "";
  width: 206px;
  height: 27px;
  background: rgba(240, 240, 240, 0.49);
  border-radius: 16px;
  position: absolute;
  left: 12px;
  bottom: -13.5px;
  z-index: 1;
}
.media-stay-safe__image img {
  max-width: 100%;
  position: relative;
  z-index: inherit;
}

/* ----------------------------------------------------------------------------------- */

.experts {
  padding: 103px 0px 116px 0px;
  background: #fafbfd;
}
.experts__container {
  display: flex;
  flex-direction: column;
}
.experts__statistics {
  margin: 0px auto 46px auto;
  max-width: 654px;
  position: relative;
}
.experts__body {
  display: flex;
  align-items: center;
}
.experts__content {
  flex: 0 0 50%;
}
.experts__video {
  flex: 0 1 50%;
  position: relative;
  padding-bottom: 27%;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  overflow: hidden;
}
.experts__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.statistics-experts {
}
.statistics-experts__body {
  display: flex;
  align-items: center;
  padding: 28px 81px;
  position: relative;
  z-index: 5;
  background: #ffffff;
  box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
}
.body-statistics-experts {
}
.body-statistics-experts__item {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.14em;
  color: #ec5863;
  margin: 0px 84px 0px 0px;
}
.body-statistics-experts__item:last-child {
  margin: 0;
}
.body-statistics-experts__value {
  margin: 0px 0px 5px 0px;
}
.body-statistics-experts__text {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  color: #000000;
}
.statistics-experts__decor {
  background: #ec5863;
  border-radius: 30px;
  position: absolute;
  transform: rotate(-30deg);
}
.statistics-experts__decor_1 {
  bottom: -19px;
  left: -19px;
  width: 65.75px;
  height: 65.75px;
  border-radius: 16px;
}
.statistics-experts__decor_2 {
  width: 96.96px;
  height: 96.96px;
  left: 219px;
  top: -40px;
  transform: rotate(105deg);
}
.statistics-experts__decor_3 {
  width: 127.47px;
  height: 127.47px;
  right: -52px;
  top: 0;
}

/*----------------------------------healthcare------------------------------------------------ */

.healthcare {
  padding: 80px 0px 45px 0px;
  position: relative;
  z-index: 100;
}
.healthcare__container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 100;
}
.healthcare__content {
  text-align: center;
  margin: 0px 0px 60px 0px;
}
.healthcare__block-text {
  text-align: center;
}
.block-text__text_m0a {
  margin: 0px auto;
  max-width: 600px;
}
.healthcare__body {
  display: flex;
}
.healthcare__colum {
  position: relative;
  z-index: 10;
  flex: 0 1 33.333%;
}
.healthcare__colum-decor {
  position: relative;
}
.healthcare__item {
  position: relative;
  height: 100%;
  z-index: 10;
  margin: 0px 35px 0px 35px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 36px 18px;
  background-color: #fff;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
}
.healthcare__colum-decor:nth-child(1)::before {
  content: "";
  position: absolute;
  z-index: 0;
  width: 65.75px;
  height: 65.75px;
  left: 17px;
  bottom: -34px;
  background: #ec5863;
  border-radius: 16px;
  transform: rotate(-30deg);
}
.healthcare__colum-decor:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 96.96px;
  height: 96.96px;
  top: 40px;
  right: -16px;
  background: #ec5863;
  border-radius: 30px;
  transform: rotate(105deg);
}

.healthcare__colum-decor:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 127.47px;
  height: 127.47px;
  right: -45px;
  bottom: -24px;
  background: #ec5863;
  border-radius: 30px;
  transform: rotate(-30deg);
}
.healthcare__colum-decor:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 65.75px;
  height: 65.75px;
  background: #ec5863;
  border-radius: 16px;
  top: -34px;
  right: 15px;
  transform: rotate(-30deg);
}

.healthcare__item-icon {
  margin: 0px 0px 58px 0px;
}
.healthcare__item-title {
  margin: 0px 0px 4px 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #000000;
}
.healthcare__item-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
}
/*----------------------------------footer------------------------------------------------ */

.footer {
  padding: 29px 0px 46px 0px;
  background: #fafbfd;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.google-play-link {
  margin: 0px 56px 0px 0px;
}
.app-store-link {
}

/*----------------------------------PC------------------------------------------------ */
@media (max-width: 1087px) {
  [class*="__container"] {
    max-width: 970px;
  }
}
/*----------------------------------Tablet------------------------------------------------ */
@media (max-width: 991px) {
  [class*="__container"] {
    max-width: 750px;
  }
  .header__container {
    min-height: 80px;
  }
  .header__button {
    flex: 0 0 170px;
  }
  .menu__item {
    margin: 0 30px 0 0;
  }
  .get-started__container::before {
    right: 185px;
  }
  .healthcare__item {
    margin: 0px 15px 0px 15px;
    padding: 18px 10px;
  }
}
/*----------------------------------Mobile------------------------------------------------ */
@media (max-width: 767px) {
  [class*="__container"] {
    max-width: none;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 26px;
    right: 14px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 10;
  }
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1f1f1f;
    transition-duration: 0.25s;
  }
  .menu-btn > span::before {
    content: "";
    top: -8px;
  }
  .menu-btn > span::after {
    content: "";
    top: 8px;
  }
  .icon-menu {
    opacity: 1;
  }
  .icon-menu:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  .icon-menu:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  .icon-menu:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .icon-menu:checked ~ .menu__body {
    left: 0;
  }
  .menu__body {
    display: flex;
    position: fixed;
    overflow: auto;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(169, 187, 243);
    justify-content: center;
    align-items: center;
    transition: left 0.3s ease 0s;
  }
  .menu__list {
    text-align: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;
  }
  .menu__item {
    margin: 0 0 10px 0;
  }
  .menu__item:last-child {
    margin: 0;
  }
  .menu__link {
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    color: #ec5863;
  }
  .header__button .button {
    padding: 14px 20px;
    margin: 0 60px 0 0;
  }
  .get-started__container {
    padding: 80px 15px 30px 15px;
  }
  .get-started__container::before {
    display: none;
  }
  .get-started__body {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .get-started__block-text {
    max-width: none;
  }
  .get-started__content {
    flex: 1 1 100%;
    padding: 0;
  }
  .block-text__title {
    font-size: 34px;
  }

  .get-started__image {
    flex: 1 1 100%;
    text-align: center;
    padding: 30px 0;
    margin: 0;
  }
  .get-started__video {
    padding: 0;
  }
  .stay-safe__container {
    flex-direction: column-reverse;
  }
  .stay-safe__content {
    margin: 0 0 20px 0;
  }
  .experts__body {
    flex-direction: column;
  }
  .experts__content {
    padding: 0;
    margin-bottom: 30px;
  }
  .experts__video {
    align-self: stretch;
    flex: 1 1 100%;
    padding-bottom: 47%;
  }
  .statistics-experts__body {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .body-statistics-experts__item {
    margin: 0 0 20px 0;
  }
  .body-statistics-experts__item:last-child {
    margin: 0;
  }
  .statistics-experts__decor_2 {
    left: 104px;
  }
  .healthcare__body {
    flex-direction: column;
    align-items: center;
  }
  .healthcare__colum-decor::before,
  .healthcare__colum-decor::after {
    display: none;
  }
  .healthcare__colum {
    width: 470px;
  }
  .healthcare__colum:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
}
/*----------------------------------Mobile SMALL------------------------------------------------ */
@media (max-width: 479px) {
  .header__logo {
    flex: 0 0 40px;
    overflow: hidden;
  }
  .block-text__button {
    width: 100%;
    text-align: center;
  }
  .media-stay-safe {
    text-align: center;
    width: 290px;
  }
  .media-stay-safe__image {
    width: 100%;
  }
  .statistics-experts__body {
    padding: 10px 40px 10px 40px;
  }
  .statistics-experts__decor_2 {
    left: 54px;
  }
  .body-statistics-experts__value {
    font-size: 30px;
    margin: 0;
  }
  .healthcare__colum {
    width: 320px;
  }
  .healthcare {
    padding: 80px 0px 0px 0px;
  }
  .footer__container {
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
  }
  .google-play-link {
    margin: 0;
    margin-bottom: 15px;
  }
}
